package account

import . "fif-calculator/views"

templ ShowAccount(currentPath string) {
	@Layout("Account", currentPath) {
		@Page() {
			@Section() {
				<h1>Account Details</h1>
				
				<form action="/logout" method="POST">
                    @SubmitButton("Logout")
				</form>
			}
		}
	}
}
