package trades

import . "fif-calculator/views"
import "fif-calculator/internal/model"
import . "fif-calculator/internal/viewmodel"
import "fif-calculator/internal/constants"
import "strconv"

templ TradeList(currentPath string, trades []model.Trade, viewModel CostBasisViewModel) {
    @Layout("Trade List", currentPath) {
        @Page() {
            @Section() {
                @list(trades)
            }
        }
    }
}

templ list(trades []model.Trade) {
    <h2 class="text-2xl font-bold mb-4">Trade List</h2>
    <div class="flex justify-end mb-4">
        @Link("/trades/new", "+ New Trade")
    </div>
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-100">
            <tr class="bg-gray-200 text-left">
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider rounded-tl-lg">Symbol</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Price</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Currency</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <script>
                function navigateToDetails(path) {
                  window.location.href=path
                }
            </script>
            for _, trade := range trades {
                <tr
                    onclick={templ.JSFuncCall("navigateToDetails", "trades/" + strconv.Itoa(trade.ID))}
                    class="hover:bg-gray-50"
                >
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{trade.Symbol}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{trade.BuyDate}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{trade.Quantity}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{trade.Price}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{trade.Currency}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        <span class={actionBg(trade.Action)}>
                          {trade.Action}
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

func actionBg(action string) string {
    style := "px-2 inline-flex text-xs leading-5 font-semibold rounded-full "
    if action == constants.Buy {
        return style + "bg-blue-100 text-blue-800"
    } else {
        return style + "bg-red-100 text-red-800"
    }
}