package trades

import . "fif-clacultor/views"

templ NewTradeForm() {
    @Layout("New Trade", "") {
        @Page() {
            @Section() {
                @TradeForm(nil, "/trades")
            }
        }
    }
}