package trades

import . "fif-clacultor/views"

templ NewTradeForm(currentPath string) {
    @Layout("New Trade", currentPath) {
        @Page() {
            @Section() {
                @TradeForm(nil, "/trades")
            }
        }
    }
}