package trades

import . "fif-calculator/views"
import "fif-calculator/internal/model"
import "strconv"

templ UpdateTradeForm(currentPath string, trade *model.Trade) {
    @Layout("Update Trade", currentPath) {
         @Page() {
            @Section() {
                 @TradeForm(trade, templ.SafeURL("/trades/" + strconv.Itoa(trade.ID) + "/edit" ))
            }
        }
    }
}