package views

import . "fif-clacultor/internal/viewmodel"

templ NavigationMenu(viewModel *NavigationViewModel) {
    <nav class="bg-white shadow-md p-4 border-b border-gray-200 flex flex-row overflow-x-auto">
        <ul class="flex flex-row justify-center space-x-4 max-w-4xl w-full mx-auto">
            for _, item := range viewModel.Items {
                <li class="flex-shrink-0">
                    <a
                        href={templ.SafeURL(item.URL)}
                        class={
                            "block font-medium w-full text-left py-2 px-4 rounded-lg transition-all duration-200 ease-in-out " +
                            className(item.IsActive)
                        }
                    >
                        {item.Title}
                    </a>
                </li>
            }
        </ul>
    </nav>
}

func className(isActive bool) string {
    if isActive {
        return "bg-blue-600 text-white shadow-md"
    } else {
        return "text-gray-700 hover:bg-gray-100 hover:text-blue-600"
    }
}
