package fif

import . "fif-calculator/views"

templ Index(currentPath string) {
	@Layout("FIF", currentPath) {
		@Page() {
			@Section() {
				@startNew()
			}
		}
	}
}

templ startNew() {
	<div class="flex items-center justify-between">
		<p>Start a new FIF calculation</p>
		@Link("/fif/start", "New calculation") 
	</div>
}

