package fif

import "fif-calculator/internal/model"

import . "fif-calculator/views"

templ View(currentPath string, holdings []*model.HoldingInfo, year int) {
    @Layout("Start FIF Calculation", currentPath) {
        @Page() {
            @Section() {
                @RenderFIFHoldingQuantities(holdings, year)
            }
        }
	}
}
