package holdings

import "fif-calculator/internal/viewmodel"

import . "fif-calculator/views"

templ EditHolding(currentPath string, viewModel *viewmodel.HoldingFormViewModel) {
	@Layout("Edit Holding", currentPath) {
		@Page() {
			<div class="mb-4 flex flex-col space-y-4">
			    @BackLink("/holdings/" + viewModel.ID, viewModel.Name)
				<h2 class="text-2xl font-bold mb-4">Edit Holding</h2>
			</div>
			@Section() {
				@HoldingsForm(viewModel, templ.SafeURL("/holdings/"+viewModel.ID+"/edit"))
			}
		}
	}
}

