package holdings

import "fif-calculator/internal/viewmodel"

import . "fif-calculator/views"

templ NewHolding(currentPath string, viewModel *viewmodel.HoldingFormViewModel) {
	@Layout("New Holding", currentPath) {
		@Page() {
			<div class="mb-4 flex flex-col space-y-4">
			    @BackLink("/holdings", "Holdings")
				<h2 class="texet-2xl font-bold mb-4">New Holding</h2>
			</div>
			@Section() {
				@HoldingsForm(viewModel, "/holdings/new")
			}
		}
	}
}
