package holdings

import "fif-calculator/internal/viewmodel"

import . "fif-calculator/views"

templ NewHolding(currentPath string, viewModel *viewmodel.HoldingFormViewModel) {
	@Layout("New Holding", currentPath) {
		@Page() {
			@Section() {
				@content(viewModel)
			}
		}
	}
}

templ content(viewModel *viewmodel.HoldingFormViewModel) {
    <a href="/holdings" class="text-blue-600 underline">← Back to Holdings</a>
	<h2 class="text-2xl font-bold mb-4">New Holding</h2>
	@HoldingsForm(viewModel, "/holdings/new")
}
