package holdings

import . "fif-calculator/views"

templ NewHolding(currentPath string) {
    @Layout("New Holding", currentPath) {
        @Page() {
            @Section() {
                <div>New Holding</div>
            }
        }
    }
}